.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-background;
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    opacity: 1;
    visibility: visible;
}
