.button {
    width: 200px;
    height: 50px;
    background-color: map-get($colors,brand-blue);
    color: map-get($colors,white-color);
    box-shadow: 0px 4px 4px map-get($colors,box-shadow);
    border-radius: 4px;
    border: none;
    font-family: $standard-font;
    font-style: normal;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, enlarged);
    line-height: 30px;
    letter-spacing: map-get($letter-spacing, header-primary);
    cursor: pointer;

    &:hover,
    &:focus {
        -webkit-box-shadow: inset 0px 0px 41px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: inset 0px 0px 41px 0px rgba(0, 0, 0, 1);
        box-shadow: inset 0px 0px 41px 0px rgba(0, 0, 0, 1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
