.clients{
    @include section-margin();

    &__container {
        @include container($flex-direction: column, $justify: center);
    }

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        position: relative;
        background-color: map-get($colors,white-color);
        width: 170px;
        height: 92px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        flex-basis: calc((100% - 150px) / 6);
        cursor: pointer;

        &:hover,
        &:focus {
            border: 1px solid map-get($colors,brand-blue);
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: map-get($colors,icon-background);
    }

}

// nie wiem jak to wpisać "sassowo"
.clients__item:hover .clients__logo,
.clients__item:focus .clients__logo {
    fill: map-get($colors,brand-blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (max-width: 1199px){
    .clients{
        &__list {
            justify-content: center;
        }

        &__item{
            flex-basis: calc((100% - 60px) / 3);
        }
    }
}

@media screen and (max-width: 767px){
    .clients{
        &__list {
            justify-content: center;
        }

        &__item{
            flex-basis: calc((100% - 30px) / 2);
        }
    }
}