.footer {
  padding: 60px 0;
  background-color: map-get($colors, section-dark-background);
  color: map-get($colors, white-color);

  &__container {
    @include container();
    flex-wrap: wrap;
    justify-content: space-between;

    &__header {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }

  &__logo {
    @extend %logo;
    margin-bottom: 20px;
    &--color {
      color: map-get($colors, brand-blue);
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  &__link {
    color: map-get($colors, footer-link);
    margin-top: 9px;

    &:hover,
    &:focus {
      color: map-get($colors, brand-blue);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__socials {
    &__list {
      display: flex;
      gap: 10px;
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: #ffffff1a;
      fill: map-get($colors, white-color);
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        background-color: map-get($colors, brand-blue);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  &__form {
    &__header {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    &__input {
      width: 100%;
      height: 50px;
      border: 1px solid #ffffff4d;
      background-color: map-get($colors, section-dark-background);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      padding-left: 16px;
      color: map-get($colors, brand-blue);

      &::placeholder {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: map-get($colors, footer-link);
      }
    }

    &-button {
      @extend .button;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 12px;
      cursor: pointer;

      &-send-icon {
        fill: map-get($colors, white-color);
        margin-left: 24px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-input-container {
    display: flex;
    align-items: center;
  }

  .footer__form__input {
    min-width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__form-input-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }
  .footer {
    &__container {
      padding-left: 76px;
      flex-wrap: wrap;
      justify-content: center;

      &__box {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 1px solid green;
      }

      &__box:last-child {
        margin-top: 60px;
      }

      &__address {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__logo {
      margin: 0;
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 28px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__header {
        text-align: center;
      }

      &__input {
        margin-bottom: 20px;
        width: 450px;
      }

      &__button {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 0;

    &__container {
      flex-direction: column;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: center;

      &__box {
        margin-bottom: 60px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
