.section__header-secondary {
    font-family: $standard-font;
    font-style: normal;
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, section-header);
    line-height: 42px;
    text-align: center;
    letter-spacing: map-get($letter-spacing, standard);
    color: $secondary-text;
    margin-bottom: 50px;
}
