.header {
  display: flex;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid map-get($colors, header-line);
  width: 100%;

  &__container {
    @include container($align: center);
  }

  &__logo {
    @extend %logo;
    color: map-get($colors, black-color);
    &--color {
      color: map-get($colors, brand-blue);
    }
  }
}

.main-nav__list,
.contact__list {
  display: flex;
  list-style: none;
}

.main-nav__list {
  gap: 46px;
}

.main-nav__link,
.logo,
.contact__link {
  @include link($font-weight: 500);
  font-family: "Roboto";
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.main-nav__link {
  color: map-get($colors, secondary-text);

  &:hover,
  &:focus {
    color: map-get($colors, brand-blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.active {
  color: map-get($colors, brand-blue);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: map-get($colors, brand-blue);
    transform: translateY(29px);
    border-radius: 2px;
  }
}

.contact__list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}

.contact__item {
  position: relative;
}

.contact__link {
  color: map-get($colors, primary-text);
  margin-right: 0;
}

.contact__link:hover,
.contact__link:focus,
.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  color: map-get($colors, brand-blue);
  fill: map-get($colors, brand-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  fill: map-get($colors, primary-text);
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);

  &--reduce-space {
    left: -19px;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    padding: 0 15px;

    &__logo{
      font-size: 24px;
    }
  }

  .contact {
    &__list {
      flex-direction: column;
      gap: 10px;
      border: 1px solid green;
      align-items: flex-end;
    }

    &__item:nth-child(2) {
      margin-right: 21px;
    }
  }
}

@media screen and (max-width: 767px) {
  .main-nav__list,
  .contact__list {
    display: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header {
    height: 60px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
