.header {
    display: flex;
    height: 80px;
    align-items: center;
}

.nav,
.contact {
    display: flex;
    list-style: none;
}

.nav {
    gap: 46px;
}

.nav__link,
.logo,
.contact__link {
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav__link {
    color: $secondary-text;
}

.nav__link:hover,
.nav__link:focus {
    color: $brand-blue;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
    color: $brand-blue;
}

.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: $brand-blue;
    transform: translateY(30px);
    border-radius: 2px;
}

.contact {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}

.contact__item {
    position: relative;
}

.contact__link {
    color: $primary-text;
    margin-right: 0;
}

.contact__link:hover,
.contact__link:focus,
.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
    color: $brand-blue;
    fill: $brand-blue;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
    color: $black-color;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo--color {
    color: $brand-blue;
}

.contact__icon {
    fill: $primary-text;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
}

.contact__icon--reduce-space {
    left: -19px;
}
