.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  min-height: 581px;
  background-color: map-get($colors, white-color);

  &__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: map-get($colors, white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      fill: map-get($colors, brand-blue);
      border: 1px solid map-get($colors, brand-blue);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (max-width: 1199px) {
  .modal {
    min-width: 320px;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .modal {
    margin: 0;
    min-height: 650px;
  }
}
