.team {
  @include section-margin();

  &__container {
    @include container($flex-direction: column, $justify: center);
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    flex-basis: calc((100% - 90px) / 4);
    //max-width: 450px;
    width: 100%;
    //max-height: 622px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid blue;
  }

  &__card {
    // position: relative;
    background-color: map-get($colors, white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    height: 100%;

    // &-picture {
    //   max-width: 450px;
    //   max-height: 460px;
    // }

    &__name {
      margin-top: 30px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.03em;
      color: map-get($colors, secondary-text);
    }

    &__profession {
      margin-top: 10px;
      margin-bottom: 16px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.03em;
      color: map-get($colors, primary-text);
    }
  }
}

.socials {
  &__list {
    margin-bottom: 42px;
    margin-left: 44px;
    margin-right: 44px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: map-get($colors, icon-background);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
      fill: map-get($colors, white-color);
      background-color: map-get($colors, brand-blue);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (max-width: 1199px) {
  .team {
    &__item {
      flex-basis: calc((100% - 30px) / 2);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .socials {
    &__list {
      justify-content: center;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .team {
    &__item {
      flex-basis: calc(100% / 1);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
