.team,
.socials {
    list-style: none;
    display: flex;
    justify-content: space-between;

    &__card {
        position: relative;
        background-color: $white-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        width: 270px;
        height: 428px;
    }
}

.team-member {
    &__name {
        margin-top: 30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $secondary-text;
    }

    &__profession {
        margin-top: 10px;
        margin-bottom: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $primary-text;
    }
}

.socials {
    margin-bottom: 42px;
    margin-left: 44px;
    margin-right: 44px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $icon-background;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        cursor: pointer;

        &:hover,
        &:focus {
            fill: $white-color;
            background-color: $brand-blue;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}
