$brand-blue: #2196f3;
$header-line: #ececec;
$primary-text: #757575;
$secondary-text: #212121;
$white-color: #fff;
$black-color: #000;
$section-dark-background: #2f303a;
$background-card: #f5f4fa;
$icon-background: #afb1b8;
$backdrop-background: rgba(0, 0, 0, 0.5);
$top-section__overlay: #2f303a66;
$border: #eeeeee;
$background-outside: #e5e5e5;
$footer-link: #ffffff99;
$footer-icon: #ffffff1a;
$placeholder-text: #75757580;
$border-color: #21212133;
$box-shadow: #00000026;