@mixin section-margin($top: 94px, $bottom: 94px) {
  margin-top: $top;
  margin-bottom: $bottom;

  @media screen and (max-width: 1199px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@mixin container($flex-direction: row, $justify: flex-start, $align: stretch) {
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
  align-items: $align;
  border: 1px solid tomato;
}

@mixin link(
  $color: primary-text,
  $font-weight: 400,
  $font-size: 14px,
  $text-decoration: none
) {
  color: $color;
  font-family: $standard-font;
  font-weight: $font-weight;
  font-size: $font-size;
  text-decoration: $text-decoration;
  letter-spacing: map-get($letter-spacing, links);
  cursor: pointer;

  &:hover,
  &:focus {
    color: map-get($colors, brand-blue);
  }
}

// @mixin img-media {
//   @media screen and (max-width: 1199px) {
//     .slider {
//       background-image: url("../images/slider-tablet.jpg");
//     }
  
//     @media (min-device-pixel-ratio: 2),
//       (-webkit-min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       .slider {
//         background-image: url("../images/slider-tablet@2x.jpg");
//       }
//     }
//   }

//   @media screen and (max-width: 767px) {
//     .slider {
//       background-image: url("../images/slider-mobile.jpg");
//     }
  
//     @media (min-device-pixel-ratio: 2),
//       (-webkit-min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       .slider {
//         background-image: url("../images/slider-mobile@2x.jpg");
//       }
//     }
//   }
// }