@mixin is-hidden() {
  display: none;
  visibility: 0;
  pointer-events: none;
}

@mixin button-buy-now($width: 209px, $font-size: 16px) {
  width: $width;
  height: 44px;
  background: var(--white);
  border-radius: 22px;
  border: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: $font-size;
  line-height: 21px;
  color: var(--main-red);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: 16px;
}
